header{
    background-color:cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: white;
    height: 200px;    
}

#boton{
   background-color: darkorange;
   font-size: 25px;
   padding-left: 60px;
   padding-right: 60px;
   padding-bottom: 30px;
   color: black;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#nav{
    height: 100px;
 }
#etiquetas, #article, #atributos{
    width: 420px;
    display: inline-block;
    
    height: 300px;
    
}

footer{ 
background-color: cornflowerblue;
color: white;
text-align: center;
height: 350px;
font-size: 20px;
}

.contenedor{
    justify-content: center;
    width: 300px;
    background-color: orangered;
}
h1{
    text-align: center;
    font-size: 50px;

}

.html{
    width: 150px;
}

.tabla{
    border-style: double;
    border-color: black;
}

.contenedor2, {
    font-size: 30px;
    width: 500px;
    align-content: center;
}

.contenedor3{
    font-size: 30px;
}