header{
    background-color:cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: white;
    height: 200px;    
}

#boton{
   background-color: darkorange;
   font-size: 25px;
   padding-left: 60px;
   padding-right: 60px;
   padding-bottom: 30px;
   color: black;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#cont{
    padding-left: 300px;
    padding-right: 300px;
}
#cont1{
        padding-left: 250px;
        padding-right: 250px;
        font-family: 'Times New Roman', Times, serif;
    
}

#cont2{
    padding-left: 200px;
    padding-right: 200px;

}

#cont4{
    padding-left: 220px;
    padding-right: 220px;

}
#nav{
    height: 100px;
 }
#etiquetas, #article, #atributos{
    width: 420px;
    display: inline-block;
    
    height: 300px;
    
}

footer{ 
background-color: cornflowerblue;
color: white;
text-align: center;
height: 350px;
font-size: 20px;
}

.contenedor{
    justify-content: center;
    width: 300px;
    background-color: orangered;
}
h1{
    text-align: center;
    font-size: 50px;

}

.html{
    width: 150px;
}

.tabla1, tr, td{
    border-style: solid;
    border-color: grey;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
}


#titulo{
    font-size: 25px;
}

.contenedor2 {
    font-size: 40px;
    padding-left: 250px;
    padding-right: 250px;
    
}

.contenedor3{
    font-size: 30px;
}